{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% crispy form %}
{% block title %}
    Сброс пароля
{% endblock %}

{% block content %}
    {% if validlink %}
    <form action="" method="post" class="mx-auto" style="width: 35rem;">
        {% csrf_token %}
            {{ form|crispy }}
                <br>
        <button type="submit" class="btn btn-warning">Изменить пароль</button>
    </form>
    {% else %}
        <h1>Не удалось сбросить пароль</h1>
        <p>Ссылка недействительна, возможно, она уже была использована.</p>
    {% endif %}
{% endblock %}